src/jobs/slurm_output/*.out
src/enr/data/demo/output/*
jobs/slurm_output/*.out
__pycache__/
blender/
.DS_Store
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
demos/blender*
src/data/sample_data/original_data/*
src/enr/data/sample_data/original_data/*
src/enr/data/sample_data/*
